@import './normallize.css';
html,
body {
  overflow: hidden;
}
body {
  min-width: 982px;
  background: #f5f5f5;
}

.flex {
  display: flex;
}

.space-between {
  @extend .flex;
  justify-content: space-between;
}

.align-center {
  @extend .flex;
  align-items: center;
}

.flex-1 {
  flex: 1;
}

.flex-column {
  @extend .flex;
  flex-direction: column;
}
